.my-button {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
    opacity: 1;
    display: inline-block;
    padding: 10px 40px;
    font-size: 16px;
    background-color: #f18c8c;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
  .my-button:active {
    transform: scale(0.85);
    color: rgb(0, 0, 0);
    opacity: 1;
}
  
  .my-button:hover {
    background-color: #168613; 
    color: rgb(0, 0, 0);
    opacity: 1;
}
