
.mybtn {
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	margin-top: 64px;
	background-color: #ff8800;
	bottom: 10%;
	color: white;
	border-radius: 8px;
	padding: 10px 20px;
	font-weight: bold;
}

.white-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	flex-direction: column;
	height: 70%;
	min-width: 340px;
	width: 30%;
	font-family: 'Orbitron', sans-serif;
	border-radius: 8px;
	padding: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(8px);
	opacity: 0;
   	-webkit-backdrop-filter: blur(8px);
	animation: fadeInSlideUp 300ms ease-in-out 0s forwards;
}

@keyframes fadeInSlideUp {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

}

.top-bg {
	display: flex;
    justify-content: center; 
    align-items: center;
	position: absolute;
	font-size: 1.5em;
	width: 90%;
	height: 40px;
	border-radius: 8px;
	bottom: 95%;
	background-color: rgb(107, 107, 107);
}


.case{
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 90%;
	gap: 1px
}


label {

    height: 30px;
    border-radius: 8px;
	display: flex;
    background-color: rgb(107, 107, 107);
    justify-content: center; 
    align-items: center;
}

.case-input {
	height: 30px;
    border-radius: 8px;
	display: flex;
}

.text-form {
	width: 300px;
	height: 30px;
}


.container {
	position: relative;
	z-index: 10;
}
