
.bg-container {
	position: relative;
	height: 100vh; /* Pleine hauteur de l’écran */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.space-background {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* margin: 0;
    padding: 0; */
    overflow: hidden; 
    background-color: black;
    z-index: -1;
}


.star {
    overflow: hidden;
    position: absolute;
    /* opacity: 0.75; */
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: moveStar linear infinite;
}

@keyframes moveStar {
    0% {
      transform: translateX(-100vw); /* Start from the left edge */
    }
    100% {
      transform: translateX(100vw); /* Move to the right edge */
    }
  }

.shooting-star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    animation: shooting 2s linear infinite;
}

@keyframes twinkling {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(-1000px) translateY(-1000px)
        rotate(45deg);
        opacity: 0;

    }
    50% {
        opacity: 0.75;
    }
    100% {
        transform: translateX(0px) translateY(1000px)
        rotate(45deg);
        opacity: 0;
    }
}
