.swap-button-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 25px;
	cursor: pointer;
	overflow: hidden;
    width: 300px;
}

.option {
	text-align: center;
	flex: 1;
	padding: 10px 20px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ff8800;
	transition: color 0.3s ease;
	z-index: 1;
}

.active {
	color: #fff; /* Le texte devient blanc quand il est actif */
}

.background-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%; /* Taille de la moitié du bouton pour couvrir un seul côté */
	height: 100%;
	background-color: #ff8800;
	border-radius: 25px;
	transition: transform 0.3s ease; /* Transition fluide */
	z-index: 0;
}

.background-slider.right {
	transform: translateX(100%); /* Déplace le fond vers Register */
}

.background-slider.left {
	transform: translateX(0); /* Déplace le fond vers Login */
}