/* src/Typewriter.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.typewriter-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: 100%;
		width: 100%;
		font-size: 5em;
		font-family: 'Orbitron', sans-serif;
	}
	
	.typewriter-letter {
		display: inline-block;
		justify-content: center;
		align-items: flex-end;
		color: white;
		opacity: 0;
		transform: translateY(80px);
		animation: fadeInUp 1s forwards;
	}

	.button-placement {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		bottom: 30%;
		gap: 10px;
	}

	.typewriter-main {
		display: flex;
		font-size: 2em;
		/* font-family: monospace; */
	}

	@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
	