Django==5.1.1
django-environ==0.9.0
psycopg2-binary
python-dotenv
django-cors-headers
requests>=2.25.1
pyjwt>=2.0.0
djangorestframework==3.15.2 #for django rest
channels==4.1.0 #for websocket
daphne==4.1.2 #for async server (websocket)
channels-redis==4.2.0 #for redis
