.gameplay {
    height: 100%;
    width: 100%;
    position: absolute;
}

.gameplay > .loading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-content: center;
    animation: fadeIn 300ms;
    position: absolute;
    z-index: 1;
}

.gameplay > .loading > .loader {
    margin: auto;
}

.gameplay > .loading > p {
    margin-top: var(--default-padding);
    color: var(--color-text-l);
    font-weight: bold;
    text-align: center;
}

.gameplay > .game {
    height: 100%;
    width: 100%;
    position: absolute;
}
