
.earth-container {
    display: flex;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.earth-pos {
    display: flex;
    width: 10%; /* Fixed unit issue */
    height: 10%; /* Set height to 100% */
}