.Homebg {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	height: 100vh;
	width: 100vw;
	font-family: 'Orbitron', sans-serif;
	background-color: #e59324;
	z-index: -1;
}
/*logout*/
  
  .logout-button {
	position: absolute;
	border-radius: 20px;
	background-color: rgb(122, 11, 11);
	color: #fff;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 40px;
	transition: 0.4s;
	padding: 0 0 0 0;
	margin: 10px;
  }
  
  .logout-logo {
	position: absolute;
	right: 80%;
	top: -8px;
	bottom: 0;
	width: 50px; /* Adjust the size of the logo */
	height: 50px;
	transform: translateX(0); /* Initial position */
	transition: transform 0.6s ease; /* Smooth transition */
}

.move-logo {
	transform: translateX(163px);
  }
  
  .logout-button:hover {
	background-color: red;
  }


/* ///////////////// */

.title-game {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
}

.menu-button-container {
	display: flex;
	flex-direction: column;
	gap: 15%;
	justify-content: center;
	height: 70%;
	width : 40%;
}

.profil-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 10%;
	position: absolute;
}

.left-container {
	display: flex;
	justify-content: center;
	height: 70%;
	width : 20%;
	margin-left: 2%;
}

.button-middle {
	margin-left: 20px;
	margin-right: 20px;
}

.button-middle:active {
	transform: scale(0.85);
	opacity: 1;
}

.right-container {
	display: flex;
	margin-right: 2%;
	height: 70%;
	width : 20%;
}

/*btn*/

.btn-primary {
background-color: #ff583300; /* Nouvelle couleur de fond */
border-color: #00000000; /* Nouvelle couleur de la bordure */
color: white; /* Couleur du texte */
}

.btn-primary:hover {
background-color: #ff440000; /* Nouvelle couleur au survol */
border-color: #ff440000; /* Nouvelle couleur de la bordure au survol */
}

.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


